body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f8ff;
  color: #003366;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Ajuste para evitar que o conteúdo fique atrás da top-bar */
main {
  margin-top: 220px; /* ajuste conforme a altura total de header + nav */
}



header {
  background: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.intro, .formulario, .gallery, .media-box {
  padding: 20px;
  text-align: center;
}

.gallery img, .media-item img {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
}

/* carrocel do bootstrap com incerção de legenda */
.carousel img {
  max-height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* fundo semi-transparente */
  padding: 15px;
  border-radius: 10px;
}

.carousel-caption h5, 
.carousel-caption p {
  color: #fff;
}




/* galeria do bootstrap para carrocel */
.gallery img {
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}



.media-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.media-item {
  max-width: 300px;
}

.media-item iframe {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.formulario input, .formulario textarea {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #0056b3;
}
